.footer__item {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21px;

  color: #333333;
}

.footer__item a:link,
.footer__item a:visited {
  text-decoration: none;
  color: currentColor;
}
.footer__item a:hover,
.footer__item a:active {
  color: #495e57;
  text-decoration: underline;
}
