.footer {
  grid-column: 1/ -1;
  grid-row: footer-start/footer-end;
  background-color: #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  display: block;
  width: 16.2rem;
  height: 27.9rem;
  margin-right: 7rem;
}

.footer__content {
  display: flex;
  justify-content: center;
  gap: 10.5rem;
}

.footer__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__content p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;

  color: #495e57;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
