.testimonials__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.218rem;

  margin-top: 4.4rem;
}

@media screen and (max-width: 560px) {
  .testimonials__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;

    margin-top: 1rem;
  }
}
