.nav__list__item {
  color: #000;
  text-transform: uppercase;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 23px;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}
a:hover,
a:active,
.nav__list__item .active {
  color: #495e57;
  text-decoration: underline;
}

@media screen and (max-width: 510px) {
  .nav__list__item {
    font-size: 3rem;
  }
  a:hover,
  a:active,
  .nav__list__item .active {
    color: #333;
    text-decoration: underline;
  }
}
