.nav__list__item {
  color: #000;
  text-transform: uppercase;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 23px;
}

.nav__list__item a:link,
.nav__list__item a:visited {
  text-decoration: none;
  color: currentColor;
}
.nav__list__item a:hover,
.nav__list__item a:active {
  color: #495e57;
}
