.btn {
  background-color: #f4ce14;
  border-radius: 15px;
  width: 24.9rem;
  height: 6rem;
  border: none;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);

  margin-top: 1.5rem;
}

.btn:active {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}

.btn:hover {
  cursor: pointer;
}

.btn__text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #333333;

  margin: 0 auto;
}
